{% extends "base-template.html" %}

{% block content %}
    <h2>Login In Page</h2>

    <form method="post">
        <label>
         <div>User Name:</div>
         <input type="text" name="title" value="{{title}}">
        </label>

        <label>
         <div>Password:</div>
         <input type="password" name="title" value="{{title}}">
        </label>

        <div>Don't have an account? <a href="/sign-up">Create one here</a></div>
      <div class="error">{{error}}</div>

      <input type="submit">
    </form>


{% endblock %}